<% if comments.any? %>
  <div class='comments-list'>
    <% comments.each do |comment| %>
      <div class='comment-card'>
        <h3><%= comment.user.name %>: <span class='comment-content'><%= comment.text %></span></h3>
        <% if can? :manage, comment %>
        <%= button_to "Delete", comment_destroy_path(comment.user.id, comment.post.id, comment.id), method: :delete, class: "btn btn-danger" %>
      <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if comments.empty? %>
  <div class='comments-list'>
    <div class='comment-card'>
      <h3>There are no comments for this post!</h3>
    </div>
  </div>
<% end %>